/*!
 * CSS files for Font Awesome UI IconPicker.
 */
.icons-selector.faui-grey {
  font-size: 16px;
}
.icons-selector.faui-grey .selector-popup {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  border: 1px solid #e5e5e5;
}
.icons-selector.faui-grey .selector-category select,
.icons-selector.faui-grey .selector-search input[type=text] {
  border: 1px solid #ededed;
  color: #404040;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.icons-selector.faui-grey input::-webkit-input-placeholder {
  color: #ddd !important;
}
.icons-selector.faui-grey input:-ms-input-placeholder,
.icons-selector.faui-grey input::-ms-input-placeholder {
  color: #ddd !important;
}
.icons-selector.faui-grey input::placeholder {
  color: #ddd !important;
}
.icons-selector.faui-grey .selector-search i {
  color: #eee;
}
.icons-selector.faui-grey .faui-icons-container {
  background-color: #fff;
  border: 1px solid #ededed;
}
.icons-selector.faui-grey .faui-icons-container .loading {
  color: #eee;
}
.icons-selector.faui-grey .faui-box {
  border: 1px solid #efefef;
}
.icons-selector.faui-grey .faui-box:hover {
  background-color: #f6f6f6;
}
.icons-selector.faui-grey .selector-footer,
.icons-selector.faui-grey .selector-footer i {
  color: #ddd;
}
.icons-selector.faui-grey .selector-arrows i:hover {
  color: #777;
}
.icons-selector.faui-grey span.current-icon,
.icons-selector.faui-grey span.current-icon:hover {
  background-color: #2ea2cc;
  color: #fff;
  border: 1px solid #298cba;
}
.icons-selector.faui-grey .icons-picker-error i:before {
  color: #eee;
}
