/*!
 * CSS files for Font Awesome UI IconPicker.
 */
.icons-selector.faui-bootstrap {
  font-size: 16px;
}
.icons-selector.faui-bootstrap .selector {
  border: 0 none;
  background-color: transparent;
  width: 102px;
}
.icons-selector.faui-bootstrap .selector-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(180deg, #fff 0, #e0e0e0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41px;
  background-repeat: repeat-x;
}
.icons-selector.faui-bootstrap .selector-button i {
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}
.icons-selector.faui-bootstrap .selector-button:hover {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.icons-selector.faui-bootstrap .selector-button:hover i {
  color: #999;
}
.icons-selector.faui-bootstrap .selector-button:active {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .125) inset;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.icons-selector.faui-bootstrap .selected-icon {
  border: 1px solid #ccc;
  border-right: 0 none;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.icons-selector.faui-bootstrap .selected-icon i {
  color: #404040;
}
.icons-selector.faui-bootstrap .selector-popup {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  background-color: #fff;
}
.icons-selector.faui-bootstrap .selector-category select,
.icons-selector.faui-bootstrap .selector-search input[type=text] {
  border: 1px solid #ccc;
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
}
.icons-selector.faui-bootstrap .selector-category select:focus,
.icons-selector.faui-bootstrap .selector-search input[type=text]:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.icons-selector.faui-bootstrap input::-webkit-input-placeholder {
  color: #aaa !important;
}
.icons-selector.faui-bootstrap input:-ms-input-placeholder,
.icons-selector.faui-bootstrap input::-ms-input-placeholder {
  color: #aaa !important;
}
.icons-selector.faui-bootstrap input::placeholder {
  color: #aaa !important;
}
.icons-selector.faui-bootstrap .selector-search i {
  color: #aaa;
}
.icons-selector.faui-bootstrap .faui-icons-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.icons-selector.faui-bootstrap .faui-icons-container .loading {
  color: #ddd;
}
.icons-selector.faui-bootstrap .faui-box {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
}
.icons-selector.faui-bootstrap .faui-box:hover {
  background-color: #fff;
  border-color: #66afe9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  font-size: 1.6em;
  text-shadow: 0 0 1px #fff;
}
.icons-selector.faui-bootstrap .selector-footer,
.icons-selector.faui-bootstrap .selector-footer i {
  color: #428bca;
}
.icons-selector.faui-bootstrap .selector-footer i:hover {
  color: #2a6496;
}
.icons-selector.faui-bootstrap span.current-icon,
.icons-selector.faui-bootstrap span.current-icon:hover {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #428bca;
}
.icons-selector.faui-bootstrap span.current-icon:hover i,
.icons-selector.faui-bootstrap span.current-icon i {
  color: #fff;
}
.icons-selector.faui-bootstrap .icons-picker-error i:before {
  color: #ccc;
}
.icons-selector.faui-bootstrap .faui-box,
.icons-selector.faui-bootstrap .selector-category select,
.icons-selector.faui-bootstrap .selector-search input[type=text] {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
