/*!
 * CSS files for Font Awesome UI IconPicker.
 */
.icons-selector.faui-inverted {
  font-size: 16px;
  color: #aaa;
}
.icons-selector.faui-inverted .selector {
  border: 1px solid #111;
  background-color: transparent;
}
.icons-selector.faui-inverted .selector-button {
  background-color: #222;
  border-left: 1px solid #111;
}
.icons-selector.faui-inverted .selector-button i {
  color: #eee;
}
.icons-selector.faui-inverted .selector-button:hover {
  background-color: #000;
}
.icons-selector.faui-inverted .selector-button:hover i {
  color: #fff;
}
.icons-selector.faui-inverted .selected-icon {
  background-color: #333;
}
.icons-selector.faui-inverted .selected-icon i {
  color: #ccc;
  text-shadow: 0 0 1px #000;
}
.icons-selector.faui-inverted .selector-popup {
  -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 100%, .04);
  box-shadow: 0 1px 1px hsla(0, 0%, 100%, .04);
  border: 1px solid #111;
  background-color: #101010;
}
.icons-selector.faui-inverted .selector-category select,
.icons-selector.faui-inverted .selector-search input[type=text] {
  border: 1px solid #111;
  background: #333;
  color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.icons-selector.faui-inverted input::-webkit-input-placeholder {
  color: #aaa !important;
}
.icons-selector.faui-inverted input:-ms-input-placeholder,
.icons-selector.faui-inverted input::-ms-input-placeholder {
  color: #aaa !important;
}
.icons-selector.faui-inverted input::placeholder {
  color: #aaa !important;
}
.icons-selector.faui-inverted .selector-search i {
  color: #aaa;
}
.icons-selector.faui-inverted .faui-icons-container {
  background-color: #333;
  border: 1px solid #111;
}
.icons-selector.faui-inverted .faui-icons-container .loading {
  color: #aaa;
}
.icons-selector.faui-inverted .faui-box {
  border: 1px solid #111;
}
.icons-selector.faui-inverted .faui-box:hover {
  background-color: #000;
  color: #eee;
}
.icons-selector.faui-inverted .selector-footer,
.icons-selector.faui-inverted .selector-footer i {
  color: #aaa;
}
.icons-selector.faui-inverted .selector-arrows i:hover {
  color: #000;
}
.icons-selector.faui-inverted span.current-icon,
.icons-selector.faui-inverted span.current-icon:hover {
  background-color: #000;
  color: #fff;
}
.icons-selector.faui-inverted .faui-icon-block:before,
.icons-selector.faui-inverted .icons-picker-error i:before {
  color: #633;
  text-shadow: none;
}
