/*!
 * CSS files for Font Awesome UI IconPicker.
 */
.icons-selector.faui-darkgrey {
  font-size: 16px;
}
.icons-selector.faui-darkgrey .selector {
  border: 0 none;
  background-color: transparent;
  width: 102px;
}
.icons-selector.faui-darkgrey .selector-button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: linear-gradient(#eee, #ddd);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41px;
}
.icons-selector.faui-darkgrey .selector-button i {
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}
.icons-selector.faui-darkgrey .selector-button:hover {
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));
  background-image: linear-gradient(#f1f1f1, #ddd);
}
.icons-selector.faui-darkgrey .selector-button:hover i {
  color: #999;
}
.icons-selector.faui-darkgrey .selector-button:active {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#eee));
  background-image: linear-gradient(#f1f1f1, #eee);
}
.icons-selector.faui-darkgrey .selected-icon {
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: 0 none;
  -webkit-box-shadow: inset -1px 0 2px #ddd;
  box-shadow: inset -1px 0 2px #ddd;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.icons-selector.faui-darkgrey .selected-icon i {
  color: #404040;
}
.icons-selector.faui-darkgrey .selector-popup {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  border: 1px solid #ccc;
  border-radius: 4px;
}
.icons-selector.faui-darkgrey .selector-category select,
.icons-selector.faui-darkgrey .selector-search input[type=text] {
  border: 1px solid #ddd;
  color: #404040;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
}
.icons-selector.faui-darkgrey .selector-category select:focus,
.icons-selector.faui-darkgrey .selector-search input[type=text]:focus {
  border-color: #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}
.icons-selector.faui-darkgrey input::-webkit-input-placeholder {
  color: #ccc !important;
}
.icons-selector.faui-darkgrey input:-ms-input-placeholder,
.icons-selector.faui-darkgrey input::-ms-input-placeholder {
  color: #ccc !important;
}
.icons-selector.faui-darkgrey input::placeholder {
  color: #ccc !important;
}
.icons-selector.faui-darkgrey .selector-search i {
  color: #ccc;
}
.icons-selector.faui-darkgrey .faui-icons-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.icons-selector.faui-darkgrey .faui-icons-container .loading {
  color: #ddd;
}
.icons-selector.faui-darkgrey .faui-box {
  border: 1px solid #ddd;
  border-radius: 2px;
}
.icons-selector.faui-darkgrey .faui-box:hover {
  background-color: #eee;
  border-color: #ccc;
  -webkit-box-shadow: 0 0 2px #aaa, 0 0 2px #fff inset;
  box-shadow: 0 0 2px #aaa, inset 0 0 2px #fff;
  font-size: 1.6em;
  text-shadow: 0 0 1px #fff;
}
.icons-selector.faui-darkgrey .selector-footer,
.icons-selector.faui-darkgrey .selector-footer i {
  color: #666;
}
.icons-selector.faui-darkgrey .selector-arrows i:hover {
  color: #999;
}
.icons-selector.faui-darkgrey span.current-icon,
.icons-selector.faui-darkgrey span.current-icon:hover {
  background-color: #2ea2cc;
  color: #fff;
  border: 1px solid #298cba;
  -webkit-box-shadow: 0 0 2px #298cba;
  box-shadow: 0 0 2px #298cba;
}
.icons-selector.faui-darkgrey span.current-icon:hover i,
.icons-selector.faui-darkgrey span.current-icon i {
  color: #fff;
  text-shadow: 0 0 1px #666;
}
.icons-selector.faui-darkgrey .icons-picker-error i:before {
  color: #eee;
}
.icons-selector.faui-darkgrey .faui-box,
.icons-selector.faui-darkgrey .selector-button,
.icons-selector.faui-darkgrey .selector-category select,
.icons-selector.faui-darkgrey .selector-search input[type=text] {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
