/*
 * Font Awesome UI form fields and wrapper!
 */
.fontawesome-ui-wrapper {
  margin-bottom: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.fontawesome-ui-wrapper .form-item__label {
  display: flex;
}
.fontawesome-ui-wrapper .form-item {
  margin-right: 6px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
[dir="rtl"] .fontawesome-ui-wrapper .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.fontawesome-ui-wrapper .form-element {
  display: inline-flex;
}
.fontawesome-ui-wrapper .form-item__description {
  display: block !important;
}
.fontawesome-method-wrapper {
  margin-bottom: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.fontawesome-method-wrapper .form-item__label {
  display: flex;
}
.fontawesome-method-wrapper .form-item {
  margin-right: 6px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
[dir="rtl"] .fontawesome-method-wrapper .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.fontawesome-method-wrapper .form-element {
  display: inline-flex;
}
.fontawesome-method-wrapper .form-item--integrity .form-element {
  display: block;
}
.fontawesome-method-wrapper .form-item--method-description,
.fontawesome-method-wrapper .form-item--cdn-notice:not(.form-disabled) {
  display: block !important;
}
.fontawesome-version-wrapper {
  margin-bottom: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.fontawesome-version-wrapper .form-item__label {
  display: flex;
}
.fontawesome-version-wrapper .form-item {
  margin-right: 6px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
[dir="rtl"] .fontawesome-version-wrapper .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.fontawesome-version-wrapper .form-element {
  display: inline-flex;
}
.fontawesome-version-wrapper .form-item--version-description,
.fontawesome-version-wrapper .form-item--release-notice:not(.form-disabled) {
  display: block !important;
}
