/*
 * Font Awesome administration overview page!
 */
.fontawesome-ui-filter.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}
.fontawesome-ui-filter {
  margin-bottom: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 9px !important;
}
.fontawesome-ui-filter .form-item {
  margin-right: 6px;
}
[dir="rtl"] .fontawesome-ui-filter .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.fontawesome-ui-filter .form-element {
  display: table;
}
.fontawesome-ui-filter .form-submit {
  margin-right: 6px;
}
[dir="rtl"] .fontawesome-ui-filter .form-submit {
  margin-left: 6px;
  margin-right: 0;
}
.fontawesome-ui-filter .form-submit:last-child {
  margin-left: 0;
  margin-right: 0;
}
