.align-stretch {
  align-items: stretch;
}
.display-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.position-relative {
  position: relative;
}
.custom-radio-button-set {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  gap: 10px;
  line-height: 1.5;
  justify-content: space-between;
  align-items: center;
}
.custom-radio-button-set input + label {
  display: inline-block;
  /*border: 2px solid rgb(240, 241, 243);*/
  border: 1px solid var(--gin-border-color);
  cursor: pointer;
  width: 100%;
}
.style-radio-button {
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 !important;
}
.style-radio-button.form-item--none {
  flex-grow: 0;
}
.style-radio-button.form-item--animation,
.style-radio-button.form-item--border-style {
  flex: 1 0 18%;
}
.style-radio-button.form-item--animation span.sr-only,
.style-radio-button.form-item--border-style span.sr-only {
  position: relative;
  width: auto;
  padding-left: 0.25em;
  margin: 0;
  overflow: hidden;
  clip: initial;
  white-space: nowrap;
  border-width: 0;
}
.style-radio-button input {
  display: inline-block;
  appearance: none;
  position: absolute !important;
  box-shadow: none !important;
  border: 0;
  width: 0;
  height: 0;
}
.style-radio-button label {
  flex-grow: 1;
  border-radius: .75em;
  position: relative;
  cursor: pointer;
  margin: 0 !important;
  padding: calc(1em* 10 / 16) calc(1em* 12 / 16) !important;
  font-size: 1em;
  font-weight: 400;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.form-item--border-style label span {
  border-left: 3px #000;
  padding-left: .5rem;
}
.form-item--border-style label.form-item--none-label span {
  border-left-style: none;
}
.form-item--border-style label.form-item--dotted-label span {
  border-left-style: dotted;
}
.form-item--border-style label.form-item--dashed-label span {
  border-left-style: dashed;
}
.form-item--border-style label.form-item--solid-label span {
  border-left-style: solid;
}
.form-item--border-style label.form-item--double-label span {
  border-left-style: double;
}
.form-item--border-style label.form-item--hidden-label span {
  border-left-style: hidden;
}
.form-item--border-style label.form-item--groove-label span {
  border-left-style: groove;
}
.form-item--border-style label.form-item--ridge-label span {
  border-left-style: ridge;
}
.form-item--border-style label.form-item--inset-label span {
  border-left-style: inset;
}
.form-item--border-style label.form-item--outset-label span {
  border-left-style: outset;
}
.style-radio-button.form-item--none label {
  flex-grow: 0;
}
.style-radio-button svg {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  verflow: visible;
  box-sizing: content-box;
}
.style-radio-button svg + span:not(.sr-only) {
  padding-left: 0.25em;
}
.style-radio-button span {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  box-sizing: content-box;
}
.icon-detail-use {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.form-item--icon,
.element-detail-use,
.position-detail-use {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-item--icon {
  flex: 0;
  width: 99px;
}
.form-item--icon .icons-selector {
  display: block;
  width: 99px;
  height: 99px;
  border: 1px solid #8e929c;
  border-radius: .5rem;
  box-sizing: border-box;
}
.form-item--icon .selector {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #538dd7;
}
.element-detail-use {
  flex: 2;
}
.element-detail-use .form-item--selector,
.element-detail-use .form-item--label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.element-detail-use .form-item--selector {
  margin-bottom: 0;
}
.element-detail-use .fontawesome__selector {
  width: 100%;
  font-size: 36px;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
}
.element-detail-use .fontawesome__label {
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
}
.position-detail-use fieldset {
  margin: 0;
}
.position-detail-use ul {
  gap: 0;
  height: 59px;
  border: 1px solid #8e929c;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
  box-sizing: border-box;
}
.position-detail-use li {
  margin: 0 !important;
  padding: 0 !important;
  margin-block: 0 !important;
}
.position-detail-use input + label {
  border: 0 !important;
}
.position-detail-use input#edit-position-before + label {
  margin-left: .75rem !important;
}
.position-detail-use input#edit-position-after + label {
  margin-left: .75rem !important;
}
input[type="radio"]:checked+label {
  background: var(--gin-color-primary-light);
}
.element-position {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #8e929c;
  border-radius: 0 0 .5rem .5rem;
  background-color: #f0dbb5;
  box-sizing: border-box;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}
.position-detail-use:hover .element-position,
.position-detail-use:focus .element-position {
  filter: none;
}
.element-position span {
  display: inline-flex;
  /*align-self: center;
  margin-right: 0;
  margin-left: 0;
  transform: rotate(90deg);
  position: relative;*/
}
.element-inside,
.element-outside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}
.element-inside {
  flex-grow: 2;
  background-color: #d0d9a7;
  border-left: 1px dashed #8e929c;
  border-right: 1px dashed #8e929c;
}
.element-outside {
  flex-grow: 1;
}
.element-selector {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 9px;
  color: #84943f;
}
.element-before,
.element-prepend,
.element-append,
.element-after {
  font-size: 9px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border-radius: .25rem;
}
.element-before,
.element-prepend {
  letter-spacing: 0.09em;
  padding: .125em .3em;
}
.element-before,
.element-prepend,
.element-append,
.element-after {
  color: #8e929c;
  background: #ededed;
}
.gin--dark-mode .element-before,
.gin--dark-mode .element-prepend,
.gin--dark-mode .element-append,
.gin--dark-mode .element-after {
  color: #eee;
  background: #444;
}
.placement.element-before,
.placement.element-prepend,
.placement.element-append,
.placement.element-after {
  color: #fff;
  background-color: #26a769;
}
.fontawesome__properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 10px;
}
.fontawesome__properties .form-item {
  flex: 0 0 calc(33% - 10px);
  box-sizing: border-box;
  width: calc(33% - 10px);
}
.fontawesome__properties.flip-utilities .form-item,
.fontawesome__properties.bounce-utilities .form-item {
  flex: 0 0 calc(25% - 10px);
  width: calc(25% - 10px);
}
.fontawesome__properties .form-item select,
.fontawesome__properties .form-item input {
  display: inline-flex;
  width: calc(100% - 40px);
}
.fontawesome__properties .form-item--border-color input,
.form-wrapper .form-item--pull-margin label.form-item__label.option {
  display: block;
}
.fontawesome__color {
  width: 100%;
}
.fontawesome__color .form-item--color-picker,
.fontawesome__rotate .form-item--rotate-angle {
  margin: 0 !important;
}
.form-item--color-picker input,
.form-item--color:not(.form-item--none) {
  width: 45px;
  height: 45px;
  padding: 0;
  flex-grow: 0;
}
label.form-item__color {
  padding: 0rem !important;
  border-radius: .5rem;
  width: 45px !important;
  height: 45px !important;
  flex-basis: 45px;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}
.form-item--color.form-item--none label.form-item--none-label {
  padding: .844rem .719rem !important;
  border-radius: .5rem;
  width: 45px !important;
  height: 45px !important;
  flex-basis: 45px;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}
