/*!
 * CSS files for Font Awesome UI IconPicker.
 */
.icons-selector {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.icons-selector,
.icons-selector *,
.icons-selector:after,
.icons-selector :after,
.icons-selector:before,
.icons-selector :before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.icons-selector.selector-popup-wrap,
.icons-selector .selector-popup-wrap {
  position: absolute;
  z-index: 10000;
  width: 352px;
  height: auto;
}
.icons-selector .selector-popup {
  margin-top: -1px;
  padding: 5px;
  width: 342px;
  height: auto;
  background-color: #fefefe;
  position: absolute;
}
.icons-selector .selector-category select,
.icons-selector .selector-search input[type=text] {
  border: 0;
  line-height: 20px;
  padding: 10px 2.5%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
}
.icons-selector .selector-category select {
  height: 40px;
}
.icons-selector .selector-category select option {
  padding: 10px;
}
.icons-selector input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.icons-selector input:-ms-input-placeholder,
.icons-selector input::-ms-input-placeholder {
  text-transform: uppercase;
}
.icons-selector input::placeholder {
  text-transform: uppercase;
}
.icons-selector .selector-search {
  position: relative;
}
.icons-selector .selector-search i {
  position: absolute;
  right: 10px;
  top: 7px;
}
.icons-selector .faui-icons-container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.icons-selector .faui-icons-container .loading {
  font-size: 24px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.icons-selector .faui-box {
  display: inline-block;
  margin: 2px;
  width: 60px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  height: 40px;
}
.icons-selector .selector-footer {
  line-height: 12px;
  padding: 5px 5px 0;
  text-align: center;
  font-size: 14px;
}
.icons-selector .selector-footer i {
  font-size: 14px;
}
.icons-selector .selector-footer .selector-arrows {
  float: right;
}
.icons-selector .selector-footer .selector-arrows i {
  cursor: pointer;
}
.icons-selector .selector-footer .selector-pages {
  font-size: 11px;
  float: left;
}
.icons-selector .selector-footer em {
  font-style: italic;
}
.icons-selector .icons-picker-error i:before {
  color: #eee;
}
.icons-selector [class*=" faui-icon-"]:before,
.icons-selector [class^=faui-icon-]:before {
  font-family: iconpicker;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icons-selector .faui-icon-search:before {
  content: "\e812";
  cursor: default;
}
.icons-selector .faui-icon-cancel:before {
  content: "\e814";
  cursor: pointer;
}
.icons-selector .faui-icon-block:before {
  content: "\e84e";
  color: #fed0d0;
}
.icons-selector .faui-icon-left-dir:before {
  content: "\e801";
}
.icons-selector .faui-icon-right-dir:before {
  content: "\e802";
}
.icons-selector .faui-icon-spin3:before {
  content: "\e815";
}
.icons-selector .faui-icon-spin3 {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
