.faui-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.faui-modal *,
.faui-modal :before,
.faui-modal :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.faui-modal.faui-close {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.faui-modal.faui-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.faui-modal .faui-modal--content {
  position: absolute;
  border-radius: 3px;
  -webkit-box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  background-color: #f1f3f5;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
}
.faui-modal .faui-modal--content .faui-modal--header {
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: #222330;
  font-weight: 525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  z-index: 999;
}
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-logo-area {
  font-weight: 575;
  line-height: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-logo-area:hover,
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-logo-area:focus {
  color: var(--gin-color-primary);
}
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-logo-title {
  padding-left: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-close-btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-close-btn:hover,
.faui-modal .faui-modal--content .faui-modal--header .faui-modal--header-close-btn:focus {
  color: #e03131;
}
.faui-modal .faui-modal--content .faui-modal--body {
  font-size: 12px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  max-height: 85vh;
  overflow: auto;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 25%;
  /*overflow-y: scroll;*/
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-right: 1px solid rgba(0, 0, 0, .08);
}
.faui-modal .h6-muted-text-uppercase {
  color: rgba(97, 109, 138, 0.4);
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding: .3rem;
  margin: 0rem 1rem .5rem;
}
.faui-modal .faui-modal--sidebar .faui-modal--sidebar-tabs {
  margin-top: 9px;
}
.faui-modal--sidebar-tabs ul {
  margin: 0;
}
.faui-modal--sidebar-tabs .icons-facets-group-styles {
  margin-bottom: 24px;
}
.faui-modal .faui-modal--sidebar-tab-item {
  padding: 0.9375rem;
  font-size: 0.875rem;
  color: rgb(97, 109, 138);
  text-align: left;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.faui-modal .faui-modal--sidebar-tab-item:hover,
.faui-modal .faui-modal--sidebar-tab-item:focus {
  color: var(--gin-color-primary-hover) !important;
  background: var(--gin-color-primary-light);
}
.faui-modal .faui-modal--sidebar-tab-item span {
  display: flex;
}
.faui-modal .faui-modal--sidebar-tab-item i {
  font-size: 20px;
  padding-right: 15px;
}
.faui-modal .faui-modal--sidebar-tab-item img {
  padding-right: 15px;
}
.faui-modal .faui-modal--sidebar-tab-item.style-active {
  color: var(--gin-color-primary-hover);
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--gin-border-color);
}
.faui-modal .faui-modal--sidebar-tab-item.style-active:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
  left: 0;
  background-color: var(--gin-color-primary);
}
.faui-modal .faui-modal--sidebar-tab-item.style-active i {
  color: var(--gin-color-primary);
}
.fa-ui--refinement-list {
  height: 295px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1rem;
}
.fa-ui--refinement-list li {
  display: flex;
  padding: .5rem !important;
  font-size: .8rem !important;
  margin-bottom: 0.2rem;
  border-radius: var(--gin-border-m);
  transition: all 0.3s ease-in-out;
}
.fa-ui--refinement-list li:hover,
.fa-ui--refinement-list li:focus,
.fa-ui--refinement-list li.category-active {
  color: var(--gin-color-primary-hover) !important;
  background: var(--gin-color-primary-light);
}
.fa-ui--refinement-list li.category-active {
  font-weight: 575;
}
.fa-ui--refinement-list .icons-facet-affordance {
  color: inherit;
  margin-right: 0.75rem;
}
.fa-ui--refinement-list .icons-facet-affordance i {
  color: rgb(97, 109, 138) !important;
  font-size: .875rem !important;
  transition: all 0.3s ease-in-out;
}
.fa-ui--refinement-list li:hover i ,
.fa-ui--refinement-list li:focus i,
.fa-ui--refinement-list li.category-active i {
  color: var(--gin-color-primary-active) !important;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.faui-stats {
  margin: 0 3rem;
}
.faui-stats .icons-results-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.5rem;
  color: rgb(97, 109, 138);
}
.faui-stats .icons-results-summary-count {
  margin-right: 1.25rem;
}
.faui-stats .icons-results-summary-count h1 {
  margin: 0;
  white-space: nowrap;
  line-height: 1.5;
  font-size: .8rem;
  font-weight: 575;
}
.faui-stats .icons-results-summary-pages {
  flex: 1 0 auto;
  text-align: right;
  margin-left: 1.25rem;
  order: 3;
}
.faui-stats .icons-results-summary-pages p {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
.faui-stats .icons-results-summary-pages .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  color: #000;
  background-color: #fff;
}
.faui-modal .faui-modal--icon-preview-wrap .faui-modal--icon-preview-inner {
  margin: 0;
  padding: 0;
}
.faui-modal .faui-modal--icon-preview {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
  padding: 0 min(5vw, var(--gin-spacing-xxl));
}
.faui-modal .faui-modal--icon-preview .faui-icon-item {
  position: relative;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  color: rgb(24, 49, 83);
}
.faui-modal .faui-modal--icon-preview .faui-icon-item:not(.icon-active):hover,
.faui-modal .faui-modal--icon-preview .faui-icon-item:not(.icon-active):focus {
  color: var(--gin-color-primary-hover) !important;
  background: var(--gin-color-primary-light);
  box-shadow: 0.1em 0.25em 0.5em var(--gin-color-primary-light);
}
.faui-modal .faui-modal--icon-preview .faui-icon-item.icon-active {
  color: var(--gin-color-button-text);
  background-color: var(--gin-color-primary);
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-icon-item .faui-icon-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-icon-item .faui-icon-item-inner i,
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-icon-item .faui-icon-item-inner .faui-icon-item__icon {
  font-size: 32px;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-icon-item .faui-icon-item-inner .faui-icon-item-name {
  font-size: 11px;
  padding: 13px 0 0;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.faui-modal--icon-preview-wrap .search-sticky {
  position: sticky;
  top: 0;
  z-index: 101;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 60px;
  background: var(--gin-bg-app);
  box-sizing: border-box;
  transition: .15s cubic-bezier(.19, 1, .22, 1);
}
.faui-icon-families {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  justify-content: center;
  margin-right: 0;
  margin-left: 2em;
}
.faui-modal.extended-families .faui-icon-families {
  gap: 0;
  margin-left: 1em;
}
.faui-icon-families button {
  display: inline-flex;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin: 0;
  border: 0;
  border-radius: var(--gin-border-m);
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: transparent !important;
  cursor: pointer;
  padding: 0.9375em 1.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: rgb(24, 49, 83);
  font-weight: normal;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.faui-modal.extended-families .faui-icon-families button {
  padding: 0.9375em;
}
.faui-icon-families button:focus,
.faui-icon-families button:hover {
  color: var(--gin-color-primary-hover) !important;
}
.faui-icon-families button.facet-active {
  color: var(--gin-color-primary-hover) !important;
  background: var(--gin-color-primary-light) !important;
}
.faui-icon-families button span {
  font-size: 0.875rem;
}
.faui-modal--icon-preview-wrap .search-sticky--is-sticky {
  opacity: .95;
}
@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .faui-modal--icon-preview-wrap .search-sticky--is-sticky {
    opacity: .999;
    background: rgba(var(--gin-bg-app-rgb), .8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}
.gin--high-contrast-mode .faui-modal--icon-preview-wrap .search-sticky--is-sticky {
  background: var(--gin-bg-app);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
.search-sticky__items {
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}
.faui-modal.extended-families .search-sticky__items {
  margin-left: 0.9375em;
}
@media (min-width: 48em) {
  .search-sticky__items .settings-tray-editable {
    flex-shrink: 0;
  }
}
.search-sticky__items__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 64em) {
  .search-sticky__items__inner {
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0;
  }

  .search-sticky__items__inner .block-page-title-block {
    margin: 0;
  }
}
.search-sticky__items .block-page-title-block {
  flex-grow: 1;
  align-self: center;
  display: flex;
  margin: 0;
  min-width: 0;
}
.search-sticky__items .block-page-title-block .page-title {
  align-self: center;
  margin: 0;
}
.search-sticky__items .gin-sticky-form-actions {
  display: flex;
  width: auto;
  margin-top: 0;
}
@media (min-width: 64em) {
  [dir="ltr"] .search-sticky__items .gin-sticky-form-actions {
    padding-left: 1.5rem;
  }
  [dir="rtl"] .search-sticky__items .gin-sticky-form-actions {
    padding-right: 1.5rem;
  }
}
[dir="ltr"] .search-sticky__items #block-gin-local-actions + .gin-sticky-form-actions {
  padding-left: .5rem;
}
[dir="rtl"] .search-sticky__items #block-gin-local-actions + .gin-sticky-form-actions {
  padding-right: .5rem;
}
.search-sticky-shadow {
  flex: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (min-width: 64em) {
  .search-sticky-shadow {
    z-index: 98;
    position: relative;
    pointer-events: none;
    height: 40px;
    margin: -4rem auto 2rem;
    box-shadow: 0 10px 20px -16px rgba(0, 0, 0, .4);
  }
  .gin--dark-mode .search-sticky-shadow {
    box-shadow: none;
  }
}
@media (min-width: 64em) {
  .search-sticky-shadow {
    position: sticky;
    top: 21px;
    width: calc(100% - min(10vw, 96px) + 3rem);
  }
}
.search-sticky--border {
  box-shadow: 0 0 0 1px rgba(234, 234, 234, 1);
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search {
  position: relative;
  color: rgb(24, 49, 83);
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input {
  width: 100%;
  height: 60px;
  padding: 8px 15px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: 0;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search i {
  font-size: 24px;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input::-webkit-input-placeholder {
  font-style: italic;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input::-moz-placeholder {
  font-style: italic;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input:-ms-input-placeholder {
  font-style: italic;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input::-ms-input-placeholder {
  font-style: italic;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search input::placeholder {
  font-style: italic;
}
.faui-modal .faui-modal--content .faui-modal--body .faui-modal--icon-preview-wrap .faui-modal--icon-search img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
}
.faui-modal .faui-modal--footer {
  border-top: 1px solid #e6e9ec;
  text-align: center;
  background-color: #fff;
  border: none;
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 9px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faui-modal .faui-modal--footer .page-info {
  display: none;
  visibility: hidden;
}
.faui-modal .faui-modal--footer .pagination {
  margin: 0;
  flex-grow: 1;
}
.faui-modal .faui-modal--footer .pagination ul {
  margin: .3rem 0;
}
.faui-modal .faui-modal--footer .pagination ul.pager__items--insert {
  justify-content: left;
}
.faui-modal .faui-modal--footer button.faui-insert-icon-button {
  margin-block: 0;
  margin-inline: 0 var(--space-s);
}
.faui-modal .faui-modal--footer .faui-button {
  height: 40px;
  margin-left: 5px;
}
.faui-modal .faui-modal--footer .faui-button-success {
  padding: 12px 36px;
  color: #fff;
  width: initial;
  font-size: 15px;
}
.faui-modal .faui-modal--footer .faui-button-success:hover {
  background-color: #42d6a0;
}
/* Responsive css */
.faui-modal--icon-preview {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.faui-modal--icon-preview-wrap {
  width: 100%;
  padding: 0;
}
.faui-modal .faui-modal--content {
  max-width: 100%;
}
.faui-modal--sidebar-tab-item {
  padding: 15px 15px 15px 25px;
  font-size: 11px;
}
.faui-modal--sidebar-tab-item i {
  font-size: 15px;
}
.faui-modal--sidebar-tab-item i,
.faui-modal--sidebar-tab-item img {
  display: none;
}
@media (min-width: 480px) {
  .faui-modal--icon-preview {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .faui-modal--icon-preview-wrap {
    padding: 0;
    width: 75%;
  }
  .faui-modal--sidebar-tab-item i,
  .faui-modal--sidebar-tab-item img {
    display: block;
  }
}
@media (min-width: 600px) {
  .faui-modal--icon-preview {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .faui-modal--icon-preview {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  .faui-modal--icon-preview {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
  .faui-modal .faui-modal--content {
    max-width: 990px;
  }
}
@media (min-width: 1440px) {
  .faui-modal--icon-preview {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
  .faui-modal .faui-modal--content {
    max-width: 1200px;
  }
}
.pagination .next-page,
.pagination .prev-page {
  border-radius: 6px;
}
.list-scrollbar {
  overflow-y: hidden !important;
  margin-right: 5px;
}
.list-scrollbar.scrollbar-2x {
  margin-right: 9px;
}
.list-scrollbar:hover,
.list-scrollbar:focus {
  overflow-y: auto !important;
  margin-right: 0px;
}
/* total width */
.list-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.list-scrollbar.scrollbar-2x::-webkit-scrollbar {
  width: 9px;
}
/* background of the scrollbar except button or resizer */
.list-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi+P//P8PMmTP/g2iAAAMAO2sIxTT5ApcAAAAASUVORK5CYII=);
  background-repeat: repeat-y;
  background-position: center;
}
.list-scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
/* scrollbar itself */
.list-scrollbar::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: #babac0;
  border: 4px solid transparent;
  border-radius: 16px;
}
.list-scrollbar::-webkit-scrollbar-thumb:hover {
  width: 9px;
  border-color: #a0a0a5;
  background-color: #a0a0a5;
}
/* set button(top and bottom of the scrollbar) */
.list-scrollbar::-webkit-scrollbar-button {
  display: none;
}
