/* List status marker */
.fontawesome-icon-list .marker {
  font-size: .75rem;
  font-weight: 525;
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  color: #777;
  background: #eee;
}
.gin-layer-wrapper .fontawesome-icon-list .marker {
  color: #777;
  background: #eee;
  border-radius: .75rem;
}
.gin--dark-mode .fontawesome-icon-list .marker {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.fontawesome-icon-list .marker--enabled {
  color: #fff;
  background-color: #26a769;
}
.gin-layer-wrapper .fontawesome-icon-list .marker--enabled {
  color: #39b77b;
  background-color: #26a76930;
}
