/* File type and Library status report */
.file-types-report,
.library-status-report {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-block: 1em;
  padding-inline: 3em 1em;
  font-weight: 400;
  font-size: 14px;
  color: #545454;
  background-color: #f6f6f6;
  border-radius: .45rem;
}
.file-types-report::before,
.library-status-report::before {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-start: 0.625rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-end: 0.625rem;
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}
