/* Font Awesome field suffix */
.fontawesome-icon-form .form-item__suffix,
.fontawesome-builder-settings-form .form-item__suffix,
.fontawesome-settings-form .form-item__suffix {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0;
  margin-left: -6px;
  transform: rotate(90deg);
}
/* Font Awesome flags */
.fontawesome-unit-flag,
.fontawesome-beta-flag,
.fontawesome-experimental-flag,
.fontawesome-new-flag,
.fontawesome-pro-flag,
.fontawesome-free-flag {
  font-size: 10px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  line-height: 1.5;
}
body[class*="gin--"] .fontawesome-unit-flag,
body[class*="gin--"] .fontawesome-free-flag,
body[class*="gin--"] .fontawesome-beta-flag,
body[class*="gin--"] .fontawesome-experimental-flag,
body[class*="gin--"] .fontawesome-new-flag,
body[class*="gin--"] .fontawesome-pro-flag {
  border-radius: .75rem;
}
.fontawesome-free-flag,
.fontawesome-beta-flag,
.fontawesome-experimental-flag {
  color: #555;
  background: #ddd;
}
body[class*="gin--"] .fontawesome-free-flag,
body[class*="gin--"] .fontawesome-beta-flag,
body[class*="gin--"] .fontawesome-experimental-flag {
  color: #777;
  background: #eee;
}
.gin--dark-mode .fontawesome-beta-flag,
.gin--dark-mode .fontawesome-experimental-flag {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.fontawesome-pro-flag,
.fontawesome-new-flag {
  color: #fff;
  background-color: #26a769;
}
body[class*="gin--"]  .fontawesome-pro-flag,
body[class*="gin--"]  .fontawesome-new-flag {
  font-size: 9px;
  font-weight: bold;
  color: #39b77b;
  background-color: #26a76930;
}
.fontawesome-unit-flag {
  font-size: 14px;
  color: #d8b234;
  text-transform: lowercase;
}
