{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}
<ul{{ attributes.addClass('form-radios', 'form-boolean-group', 'custom-radio-button-set', 'display-flex', 'flex-wrap', 'align-stretch') }}>
  {{ children }}
</ul>
